<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>NCB Redesign</title>
    <style>
      * {
        box-sizing: border-box;
        
      }
      
      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 50px; /* Should be removed. Only for demonstration */
        color:white;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      h5{
        background-color:yellow;
        color:white;
        text-align:center;
        text-shadow: 2px 2px black;
        font-size: 20px;
      }
      p{
        text-shadow: 2px 2px black;
        font-size: 20px;
      }

      .breadcrumbs ul li{
        background-color:yellow;
        color:white;
        text-align:center;
        text-shadow: 2px 2px black;
        float:center;
        font-size:20px;
      }
      .gotright{
        float:right;
      }
      </style>
</head>
<body>
    <header>
        <nav>
            <div class="navbar bg-base-100">
                <div class="navbar-start">
                  <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                      <li><a>Personal</a></li>
                      <li tabindex="0">
                        <a class="justify-between">
                          Business
                          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
                        </a>
                        <ul class="p-2">
                          <li><a>Submenu 1</a></li>
                          <li><a>Submenu 2</a></li>
                        </ul>
                      </li>
                      <li><a>About</a></li>
                    </ul>
                  </div>
                    <a href="https://flowbite.com/" class="flex items-center">
                        <img src="../assets/images/logo (3).svg" class="h-120 w-120" viewBox="0 0 120 120"  alt="NCB Logo" />
                        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">NATIONAL COMMERCIAL BANK </span>
                    </a>
                </div>
                <div class="navbar-center hidden lg:flex">
                  <ul class="menu menu-horizontal p-0">
                    <li><a>Personal</a></li>
                    <li tabindex="0">
                      <a>
                        Business
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                      </a>
                      <ul class="p-2">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                      </ul>
                    </li>
                    <li><a>About</a></li>
                  </ul>
                </div>
                <div class="navbar-end">
                  <a class="btn btn-light">Get started</a>
                </div>
              </div>
        </nav>
        
    </header>
 
      </div>
    </section>
  <div>
    <h3>Your new credit card is a click away</h3>
  
    <div class="form-control">
      <label class="label">
      </label>
      <label class="input-group">
        <input type="text" placeholder="Claim your offer" class="input input-bordered" />
        <span>Find Card</span>
      </label>
    </div>
    </div>
    <br>
    <div class="gotright">
    <img src="../assets/images/ncb cards.jpg" text-align="left">
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="column" style="background-color:yellow;">
      <h2></h2>
      <p>Personal Credit Card</p>
    </div>
    <div class="column" style="background-color:yellow;">
      <h2></h2>
      <p>Prepaid Card</p>
    </div>
    <div class="column" style="background-color:yellow;">
      <h2></h2>
      <p>Business Credit Card</p>
    </div>
  </div>
   <br><br><br>
   <!--Card Section-->
   <ul class="menu menu-horizontal bg-base-100 rounded-box">
    <li><a><div class="card card-compact w-80 bg-base-100 shadow-xl">
      <figure><img src="../assets/images/card.png" alt="" /></figure>
      <div class="card-body">
        <h2 class="card-title"></h2>
        <p>NCB VISA CLASSIC</p>
        <br>
        <p>CASH BACK</p>
        <p>Yearly fee &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJMD 4,300</p>
        <p>Effective Annual &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp42% - 46.9%</p>
        <p>Interest Rate</p>
        <p>Min. Gross &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJMD 50,000</p>
        <p>Monthly Income</p>
        <div class="card-actions justify-center">
          <button class="btn btn-primary">Claim yours now!</button>
        </div>
      </div>
    </div</a></li>
    <li><a><div class="card card-compact w-80 bg-base-100 shadow-xl">
      <figure><img src="../assets/images/card1.png" alt="" /></figure>
      <div class="card-body">
        <h2 class="card-title"></h2>
        <p>NCB VISA PLATINUM</p>
        <br>
        <p>CASH BACK</p>
        <p>Yearly fee &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJMD 8,200</p>
        <p>Effective Annual &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp41.99% - 46.9%</p>
        <p>Interest Rate</p>
        <p>Min. Gross &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJMD 208,334</p>
        <p>Monthly Income</p>
        <div class="card-actions justify-center">
          <button class="btn btn-primary">Claim yours now!</button>
        </div>
      </div>
    </div></a></li>
    <li><a><div class="card card-compact w-80 bg-base-100 shadow-xl">
      <figure><img src="../assets/images/card2.png" alt="" /></figure>
      <div class="card-body">
        <h2 class="card-title"></h2>
        <p>INTERNATIONAL MASTER CARD</p>
        <br>
        <p>MORE DAYS TO PAY</p>
        <p>Yearly fee &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUSD 88.84</p>
        <p>Effective Annual &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp18% - 21.9%</p>
        <p>Interest Rate</p>
        <p>Min. Gross &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspJMD 77,500</p>
        <p>Monthly Income</p>
        <div class="card-actions justify-center">
          <button class="btn btn-primary">Claim yours now!</button>
        </div>
      </div>
    </div></a></li>
  </ul>
  <li><a><div class="card card-compact w-80 bg-base-100 shadow-xl">
    <figure><img src="../assets/images/ncb-debit.png" alt="" /></figure>
    <div class="card-body">
      <h2 class="card-title"></h2>
      <p>VISA CLASSIC</p>
      <br>
      <p>NCB MILES</p>
      <p>Yearly fee &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUSD 177.68</p>
        <p>Effective Annual &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp17% - 21.9%</p>
        <p>Interest Rate</p>
        <p>Min. Gross &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUSD 1,667</p>
        <p>Monthly Income</p>
      <div class="card-actions justify-center">
        <button class="btn btn-primary">Claim yours now!</button>
      </div>
    </div>
  </div></a></li>
</ul>
<br><br><br>
<h5>Whatever card you pick, applying for it is easy.</h5>
<div class="text-sm breadcrumbs">
  <ul>
   <li><a>Apply Online</a></li> 
    <li><a>Get Approved</a></li> 
    <li>Get your card</li>
  </ul>
</div>
<br><br><br><br>



    <footer class="footer p-10 bg-base text-base-content   fixed left-0 bottom-0.9">
      <div>
        <span class="footer-title">Services</span> 
        <a class="link link-hover">Branding</a> 
        <a class="link link-hover">Design</a> 
        <a class="link link-hover">Marketing</a> 
        <a class="link link-hover">Advertisement</a>
      </div> 
      <div>
        <span class="footer-title">Company</span> 
        <a class="link link-hover">About us</a> 
        <a class="link link-hover">Contact</a> 
        <a class="link link-hover">Jobs</a> 
        <a class="link link-hover">Press kit</a>
      </div> 
      <div>
        <span class="footer-title">Legal</span> 
        <a class="link link-hover">Terms of use</a> 
        <a class="link link-hover">Privacy policy</a> 
        <a class="link link-hover">Cookie policy</a>
      </div> 
      <div>
        <span class="footer-title">Newsletter</span> 
        <div class="form-control w-80">
          <label class="label">
            <span class="label-text">Enter your email address</span>
          </label> 
          <div class="relative">
            <input type="text" placeholder="username@site.com" class="input input-bordered w-full pr-16" /> 
            <button class="btn btn-primary absolute top-0 right-0 rounded-l-none">Subscribe</button>
          </div>
        </div>
      </div>
    </footer>
    
</body>
</html>

